
.card {
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
    padding: 10px;
    background-color: peachpuff;
    margin: 2px;
}

.back{
    background-color: cornflowerblue;
}